body {
    width: auto;
}
#head {
    text-align: end;
    background-color: thistle;
}
.main {
    font-size: 30px;
    text-align: center;
}
.foodlist {
    text-align: center;
    background-color: turquoise;
}

#noodle {
    text-align: end;
}
#important {
    font-size: 300px;
}

.content {
    display: flex;
    justify-content: space-between;
}
.ingredients {
    float: right;
    flex: 1;
    background-color: sandybrown;
}
.instructions{
    float: left;
    flex: 1;
    background-color: red;
}

.homepagelink {
    flex: 0; 
}